<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}My Django Blog{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- My Dango Blog css -->
    <link rel="stylesheet" href="{% static 'css/mydjangobloguno.css' %}" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
               <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
                <a class="navbar-brand" href="/">My Django Blog</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contatti">Contatti</a>
                  </li>
                </ul>
            </div>

            <div class="hidden-xm">
                <div class="navbar-header pull right">
                    <img alt="logo python" src="{% static 'img/logo_python.png' %}" />
                </div>
            </div>

        </div>
    </nav>

    <div class="container contenuto">
        <div class="row">
            <div class="col-sm-8">
                {% block content %}

                {% endblock content %}
            </div>
            <div class="col-sm-3-offset-1">
                <center>
                    <h4>My Django Blog</h4>
                    <h5>Creato da Antonio</h5>
                    <p>Powered by <a href="https://www.djangoproject.com/">Django</a> &
                        <a href="https://getbootstrap.com/">Bootstrap</a></p>
                </center>
            </div>
        </div>
    </div>

</body>


       <footer>
        <div class="container-fluid">
            <h4 style="color:white; font-weight:bold">Canali Social:</h4>
            <a style="color:white" href="https://www.youtube.com/c/PyMike?sub_confirmation=1"><span class="glyphicon glyphicon-thumbs-up"></span> YouTube</a><br>
            <a style="color:white" href="https://twitter.com/pymike00"><span class="glyphicon glyphicon-thumbs-up"></span> Twitter</a><br>
            <a style="color:white" href="https://www.facebook.com/programmareinpython.it/"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</a><br>
            <br>
            <a style="color:white" href="#">Torna Su</a><br>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</html>