{% extends "base.html" %}

{% block content %}

    {% for object in object_list %}
        <a href="{{ object.id }}/{{ object.slug }}/"><h1>{{ object.titolo }}</h1></a>
        <h2>{{ object.data }}</h2>
        <p>{{ object.contenuto|safe|linebreaks|truncatewords_html:50 }}</p>
    {% endfor %}

<div class="clearfix">
    <nav aria-label="...">
    <ul class="pager pull-right">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">precedente</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">successiva</a></li>
        {% endif %}
    </ul>
    </nav>
</div>

{% endblock content %}