h1 { color: green; }

h2 { color: red; }

html, body { padding-top: 70px; height: 100%; }

img { max-width: 100%; height: auto; display: block; }

.contenuto { min-height: 95%; padding-bottom: 40px; }

footer { padding: 40px; background-color: #092E20; text-align: center; }